<!DOCTYPE html>

<html>
  <head>
    <script type="text/javascript" src = "../../static/js/d3.min.js"> </script>
    <script type="text/javascript" src = "../../static/js/xcharts.js"> </script>
    <script type="text/javascript" src = "../../static/js/Graphs/EngTime.js"> </script>
    <link rel="stylesheet" type="text/css" href = "../../static/css/xcharts.css"> </link>

  </head>
  <body>
    <h1> Instagram Engagement Over Time</h1>
    <div id = "dialog"> </div>
    <figure style="width: 400px; height: 300px;" id="myChart"></figure>
    <script>
      input = {{vals|tojson|safe}};
      data = retData(input);
      var myChart = new xChart("line", data, "#myChart");
    </script>
  </body>
</html>
