<!DOCTYPE html>

<html>
  <head>
    <script type="text/javascript" src = "../static/js/d3.min.js"> </script>
    <script type="text/javascript" src = "../static/js/jquery-1.10.2.js"> </script>
    <script type="text/javascript" src = "../static/js/jquery-ui-1.10.4.min.js"> </script>
    <script type="text/javascript" src = "../static/js/Graphs/TweetsFavoritesTime.js"> </script>
    <script type="text/css" src = "../static/css/jquery-ui-1.10.4.min.css"> </script>

  </head>
  <body>
    <h1>Tweet Favorites Over Time</h1>
    <div id = "dialog"> </div>
    <script>
      favorite_vals = {{favoriteVals|tojson|safe}};
      retweet_vals = {{retweetVals|tojson|safe}};
      text_vals = {{textVals|tojson|safe}};
      CalcTweets (favorite_vals,text_vals);
      CalcTweets2 (retweet_vals,text_vals);
    </script>
  </body>
</html>
