body{
    background-color:#000000;
}

.center{
    text-align:center;
}

div {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

input[type="submit"] {
    background: url(../images/button.png);
    width:262px;
    height:102px;
    border: 0;
    font-family: 'Poiret One', cursive;
    font-size: 28px;
}

input[type="text"] {
    font-family: 'Oswald', sans-serif;
    width:275px;
    height:30px;
    font-size:20px;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 60px;
}

h2 {font-family: 'Cinzel', serif;}
    
a {
    text-decoration: none;
    color:black;
}