body{
    background-color:#CFFFD3;
}

.center{
    text-align:center;
}

input[type="submit"] {
    background: url(images/button.png);
    width:262px;
    height:102px;
    border: 0;
    font-family: 'Poiret One', cursive;
    font-size: 28px;
}

input[type="text"] {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 60px;
}