<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block foreign %}
<div style="width:100%;" class="center" id="top-div">
</div>
<br>
<br>
<br>
<div style="width:100%;" class="center" id="full-div" style="opacity:0"> 
  <div style="float:left; width:50%; opacity:0" id="left-div">
    <br>
    <br>
    <p style="font-size:40px"> Measure Engagement </p>
    <br>
    <form class="form-group" role="form" method="POST" id="left-form">
      Facebook Handle:
      <br>
      <input type="text" name="fb" class="form-control">
      <br>
      Twitter Handle:
      <br>
      <input type="text" name="twitter" class="form-control">
      <br>
      Instagram Handle:
      <br>
      <input type="text" name="instagram" class="form-control">
      <br>
      <input type="submit" value="SUBMIT" id="left-button">
    </form>
  </div>
  <div style="float:right; width:50%; opacity:0" id="right-div">
    <br>
    <br>
    <p style="font-size:40px"> Measure Popularity </p>
    <br>
    <form class="form-group" role="form" method="POST" id="right-form">
      <input type="hidden" name="id" value="things">
      <br>
      <br>
      Search Query:
      <br>
      <input type="text" name="word" class="form-control">
      <br>
      <br>
      <br>
      <input type="submit" value="SUBMIT" id="right-button">
    </form>
  </div>
</div>
{% endblock %}

{% block svg %}
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}
   
{% block script %}
<script type="text/javascript" src = {{ url_for('static', filename='js/index.js') }}> </script>
{% endblock %}


</html>

