<!DOCTYPE html>
<html>
  <head>
    <link href="../static/style.css" type="text/css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cinzel:900' rel='stylesheet' type='text/css'>
    <title>Socialpedia - Home</title>
  </head>
  <body>
    <svg id="svg" height=100% width=100%>
      <foreignobject width=100% height=100% id="foreign">
	<br>
	<div style="width:100%;" class="center" id="full-div"> 
	  <div style="float:left; width:50%;" id="left-div">
	    <br>
	  </div>
	  <div style="float:right; width:50%;" id="right-div">
	    <br>
	  </div>
	</div>
      </foreignobject>
    </svg>
  </body>

  <script>
   var s = document.getElementById("svg");
   var title = document.createElement("h1");
   var fullDiv = document.getElementById("full-div");
   var leftDiv = document.getElementById("left-div");
   var rightDiv = document.getElementById("right-div");
   var foreign = document.getElementById("foreign");
   title.appendChild(document.createTextNode("Socialpedia"));
   title.setAttribute('class',"center");
   foreign.insertBefore(title, fullDiv);

   var leftButton = document.createElement("input");
   leftButton.setAttribute('type',"submit");
   leftButton.setAttribute('value',"PEOPLE SEARCH");
   leftDiv.appendChild(leftButton);
   var rightButton = document.createElement("input");
   rightButton.setAttribute('type',"submit");
   rightButton.setAttribute('value',"THINGS SEARCH");
   rightDiv.appendChild(rightButton);
   
   var makeBackground = function() {
      width = parseInt(document.width);
      height = parseInt(document.height);

      var rects = s.getElementsByTagName('rect');
      var len = rects.length
      for(var i = 0; i < len; i++) {
          rects[0].parentNode.removeChild(rects[0]);
      }

      for(var i = 0; i < 150; i++) {
         var randpixel = document.createElementNS("http://www.w3.org/2000/svg","rect");
         var dimension = Math.random() * 10 + 1;
         randpixel.setAttribute('x',Math.random() * width);
         randpixel.setAttribute('y',Math.random() * height);
         randpixel.setAttribute('width',dimension);
         randpixel.setAttribute('height',dimension);
         randpixel.setAttribute('fill','#7aff85');
         s.appendChild(randpixel);

         var randpixel2 = document.createElementNS("http://www.w3.org/2000/svg","rect");
         var dimension2 = Math.random() * 10 + 1;
         randpixel2.setAttribute('x',Math.random() * width);
         randpixel2.setAttribute('y',Math.random() * height);
         randpixel2.setAttribute('width',dimension2);
         randpixel2.setAttribute('height',dimension2);
         randpixel2.setAttribute('fill','#baffc0');
         s.appendChild(randpixel2);

         var randpixel3 = document.createElementNS("http://www.w3.org/2000/svg","rect");
         var dimension3 = Math.random() * 10 + 1;
         randpixel3.setAttribute('x',Math.random() * width);
         randpixel3.setAttribute('y',Math.random() * height);
         randpixel3.setAttribute('width',dimension3);
         randpixel3.setAttribute('height',dimension3);
         randpixel3.setAttribute('fill','#9effa6');
         s.appendChild(randpixel3);
      }
      s.appendChild(foreign);
   }

   window.onresize = makeBackground;
   makeBackground();
  </script>
</html>

