<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% body %}
    <svg id="svg" height=100% width=100%>
      <foreignobject width=100% height=100% id="foreign">
	<br>
	<div style="width:100%;" class="center" id="full-div"> 
	  <div style="float:left; width:50%;" id="left-div">
	    <br>
	  </div>
	  <div style="float:right; width:50%;" id="right-div">
	    <br>
	  </div>
	</div>
      </foreignobject>
    </svg>
{% endblock %}

  <script>
   var s = document.getElementById("svg");
   var title = document.createElement("h1");
   var fullDiv = document.getElementById("full-div");
   var leftDiv = document.getElementById("left-div");
   var rightDiv = document.getElementById("right-div");
   var foreign = document.getElementById("foreign");
   title.appendChild(document.createTextNode("Socialpedia"));
   title.setAttribute('class',"center");
   foreign.insertBefore(title, fullDiv);


   var leftLink = document.createElement("form");
   leftLink.setAttribute('action',"peopleresults");
   var leftButton = document.createElement("input");
   leftButton.setAttribute('type',"submit");
   leftButton.setAttribute('value',"PEOPLE SEARCH");
   leftLink.appendChild(leftButton);
   var leftTextBox = document.createElement("input");
   leftTextBox.setAttribute('type',"text");
   leftLink.appendChild(document.createElement("br"));
   leftLink.appendChild(document.createElement("br"));
   leftLink.appendChild(leftTextBox);
   leftDiv.appendChild(leftLink);
   
   var rightLink = document.createElement("form");
   rightLink.setAttribute('action',"thingresults");
   var rightButton = document.createElement("input");
   rightButton.setAttribute('type',"submit");
   rightButton.setAttribute('value',"THINGS SEARCH");
   rightLink.appendChild(rightButton);
   var rightTextBox = document.createElement("input");
   rightTextBox.setAttribute('type',"text");
   rightLink.appendChild(document.createElement("br"));
   rightLink.appendChild(document.createElement("br"));
   rightLink.appendChild(rightTextBox);
   rightDiv.appendChild(rightLink);

   
   var makeBackground = function() {
     width = parseInt(document.width);
     height = parseInt(document.height);
     
     var rects = s.getElementsByTagName('rect');
     var len = rects.length
      for(var i = 0; i < len; i++) {
       rects[0].parentNode.removeChild(rects[0]);
     }
     
     for(var i = 0; i < 150; i++) {
       var randpixel = document.createElementNS("http://www.w3.org/2000/svg","rect");
       var dimension = Math.random() * 10 + 1;
       randpixel.setAttribute('x',Math.random() * width);
       randpixel.setAttribute('y',Math.random() * height);
       randpixel.setAttribute('width',dimension);
       randpixel.setAttribute('height',dimension);
       randpixel.setAttribute('fill','#7aff85');
       s.appendChild(randpixel);
       
       var randpixel2 = document.createElementNS("http://www.w3.org/2000/svg","rect");
       var dimension2 = Math.random() * 10 + 1;
       randpixel2.setAttribute('x',Math.random() * width);
       randpixel2.setAttribute('y',Math.random() * height);
       randpixel2.setAttribute('width',dimension2);
       randpixel2.setAttribute('height',dimension2);
       randpixel2.setAttribute('fill','#baffc0');
       s.appendChild(randpixel2);
       
       var randpixel3 = document.createElementNS("http://www.w3.org/2000/svg","rect");
       var dimension3 = Math.random() * 10 + 1;
       randpixel3.setAttribute('x',Math.random() * width);
       randpixel3.setAttribute('y',Math.random() * height);
       randpixel3.setAttribute('width',dimension3);
       randpixel3.setAttribute('height',dimension3);
       randpixel3.setAttribute('fill','#9effa6');
       s.appendChild(randpixel3);
     }
     s.appendChild(foreign);
   }
   

   window.onresize = makeBackground;
   makeBackground();
  </script>
</html>

