<!DOCTYPE html>
{% extends "base.html" %}
= block head
<link href={{ url_for('static', filename='css/xcharts.css') }} rel='stylesheet' type='text/css'>
<link href={{ url_for('static', filename='css/peopleresults.css') }} rel='stylesheet' type='text/css'>
<link href={{ url_for('static', filename='css/jquery-ui-1.10.4.min.css') }} rel='stylesheet' type='text/css'>
= endblock
{% block title %}People Search Results{% endblock %}


{% block svg %}
{% endblock %}

{% block body %}


<h2><a href="/">Socialpedia</a></h2>
<h1 class="center">Results</h1>
<div>
<div class='selector'>
Filter:
<div class='button-group'>
	<button class='button'>All</button>
	<button class='button'>Facebook</button>
	<button class='button'>Twitter</button>
	<button class='button'>Instagram</button>
</div>
</div>
<div class='selector'>
Sort:
<div class='button-group'>

	<button class='button'>All</button>
	<button class='button'>Summary</button>
	<button class='button'>Graphs</button>
	<button class='button'>Posts</button>
</div>
</div>
<div class="graphs">
	= for graph in graphshtml
		{{graph}}
	= endfor
</div>
</div>
<script type="text/javascript" src={{ url_for('static', filename='js/xcharts.js') }} charset="utf-8"></script>
<script type="text/javascript" src = {{ url_for('static', filename="js/d3.min.js") }}></script>
<script type="text/javascript" src = {{ url_for('static', filename="js/lodash.js") }}></script>
<script type="text/javascript" src = {{ url_for('static', filename="js/jquery-1.10.2.js") }}></script>
<script type="text/javascript" src = {{ url_for('static', filename="js/jquery-ui-1.10.4.min.js") }}></script>
<script type="text/javascript" src={{ url_for('static', filename='js/isotope.pkgd.min.js')}}></script>
<script type="text/javascript" src = {{ url_for('static', filename='js/peopleresults.js') }}> </script>
<script type="text/javascript">
	= for graph in graphsjs
		graph
	= endfor
</script>


{% endblock %}

{% block script %}
{% endblock %}


</html>
