<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Things Search Results{% endblock %}

{% block foreign %}
<!-- <h2><a href="/">Socialpedia</a></h2> -->
<br>
<br>
<h1 class="center">{{word}}'s Popularity:</h1>
<br>
<br>

<div class="center">
  {{data[0]}}
  <br> 
  {{data[1]}} 
  <br> 
  {{data[2]}} 
  <br> 
  {{data[3]}}
</div> 
{% endblock %}

{% block svg %}
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}

{% block script %}
<script type="text/javascript" src = {{ url_for('static', filename='js/thingresults.js') }}> </script>
{% endblock %}

</html>
